article#cv
  h2= "CV"
  h3= "Professional Experience"
  ul
    li= "Wopata - Bordeaux, France"
    li= "President College - Kuala Lumpur, Malaysia"
    li= "Namae Concept - Montpellier, France"
  h3= "Education"
  ul
    li= "Helsinki Metropolia - Espoo, Filand"
    li= "Polytech' Montpellier"


  h3= "Work"
  ul
    li
      a(href="http://www.lespralinesdeclaire.fr", target="_blank")
        = "Les Pralines de Claire"
    li ...
